<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <h1>메모 관리 서비스</h1>
    <hr>


    <p>
        메모를 등록(Create) 조회(Read) 수정(Update) 삭제(Delete) 할 수 있는 웹 서비스
    </p>

    {% if current_user %}

    <p>
        {{ current_user.name }}님, 환영합니다.
    </p>

    <p>
        <button onclick="location.href='/memos'">메모 목록</button>
        <button onclick="location.href='/memos/new'">메모 등록</button>
    </p>

    <form action="/logout" method="post">
        <button type="submit">로그아웃</button>
    </form>

    {% else %}


    <p>
        <button type="button" onclick="location.href='/login'">로그인</button>
    </p>

    {% endif %}

</body>